<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:act="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments::head}"></head>
<body>
<div th:fragment="content" class="container">
    <div class="card mt-5" style="width: 90%; margin: 0 auto;">
        <div class="card-top text-center p-3">
            <h3 class="card-title">Narzędziownia</h3>
        </div>
        <section th:if="${toolA.isEmpty()}">
            <h3 th:text="|Brak narzędzia o nazwie: ${searchName}|"></h3>
            <a class="btn btn-secondary me-2" th:href="@{/}">WRÓĆ</a>
        </section>
        <section th:if="${!toolA.isEmpty()}">

            <p> List </p>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <td>Nazwa</td>
                    <td>Rozmiar</td>
                    <td>Do czego można użyć</td>
                    <td>Edytuj</td>
                    <td>Usuń</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="tool:${toolA}" th:object="${tool}">
                    <td th:text="*{name}"></td>
                    <td th:text="|*{toolSize.size() + ' ' + toolSize.unit()}|"></td>
                    <td class="activitiesInfo" th:if="${tool.activities.isEmpty()} "
                        th:text="|Brak podanych aktywności|"></td>
                    <td class="activitiesInfo" th:if="${!tool.activities.isEmpty()}">
                        <ul th:each="act:${tool.activities}" th:object="${act}">
                            <li th:text="${act}"></li>
                        </ul>
                    </td>
                    <!---->
                    <td><a class="btn btn-success" th:href="@{/edit/{name}(name=*{name})}" role="button">Edytuj</a></td>
                    <td><a class="btn btn-danger" th:href="@{/delete/{name}(name=*{name})}" role="button">Usuń</a></td>
                </tr>
                </tbody>
            </table>
            <a class="btn btn-secondary me-2" th:href="@{/}">WRÓĆ</a>
        </section>

    </div>
</div>
</body>
</html>