<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title >Zaktualizuj narzędzie</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
</head>
<body>
<h1 th:text="|Zaktualizuj narzędzie ${toolToEdit.name}|">Aktualizacja</h1>
<form th:action="@{/update/{name}(name=*{name})}" method="post" th:object="${toolToEdit}">
    <label>
        Nazwa narzędzia:
        <input th:field="*{name}"  type="text">
    </label>
    <label>
        Waga:
        <input th:field="*{size}" type="number">
    </label>
    <label>
        Jednostka:
        <input th:field="*{unit}" type="text">
    </label>

    <label>Co można tym zrobić (czynności dodawać po przecinku):</label>
    <input type="text" name="myList" th:value="${toolToEdit.activities}">
    <button type="submit">AKTUALIZUJ</button>
</form>
</body>
</html>