<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments::head}"></head>
<body>
<div th:fragment="content" class="container">
    <div class="card-top text-center p-3">
        <h3 th:text="|Zaktualizuj narzędzie ${toolToEdit.name}|" class="card-title">Aktualizacja</h3>
    </div>
    <form th:action="@{/update/{name}(name=*{name})}" method="post" th:object="${toolToEdit}">
        <label for="inputName" class="form-label">Nazwa narzędzia</label>
        <input th:field="*{name}" type="text" id="inputName" class="form-control" aria-labelledby="passwordHelpBlock">

        <label for="inputSize" class="form-label">Waga</label>
        <input th:field="*{size}" type="number" id="inputSize" class="form-control" aria-labelledby="passwordHelpBlock">

        <label for="inputUnit" class="form-label">Jednostka</label>
        <input th:field="*{unit}" type="text" id="inputUnit" class="form-control" aria-labelledby="passwordHelpBlock">

        <label for="inputActivities" class="form-label">Co można tym zrobić (czynności dodawać po przecinku):</label>
        <input type="text" name="myList" th:value="${#strings.arrayJoin(toolToEdit.activities, ',')}"
               id="inputActivities" class="form-control"
               aria-labelledby="passwordHelpBlock" placeholder="np. czynnosc1, czynnosc2, czynnosc3">

        <br>
        <button type="submit" class="btn btn-warning">Aktualizuj</button>
    </form>
</div>

</body>
</html>
